<div class="homepage">

    <div class="homepage__logo">
        <div class="footer__logo"> &nbsp; </div>
    </div>

    <h4> Welcome to the <strong> SPARK </strong> blog. <br>
        We'll be posting updates about our project here, so stay tuned! </h4> <br>

    <div class="homepage__links">
        <a class="homepage__links--magenta" href="https://google.com"> Check out SPARK </a>
        <a class="homepage__links--cyan" href="post/001-helloworld/"> About the project </a>
        <a class="homepage__links--yellow" href="https://google.com"> Github </a>
    </div>

</div>