<div class="homepage">

    <div class="homepage__logo">
        <div class="footer__logo"> &nbsp; </div>
    </div>

    <h4> Welcome to the <strong> SPARK </strong> blog. <br>
        We'll be posting updates about our project here, so stay tuned! </h4> <br>

    <div class="homepage__links">
        <a class="homepage__links--magenta" href="https://google.com"> Check out SPARK </a>
        <a class="homepage__links--cyan" href="post/001-helloworld/"> About the project </a>
        <a class="homepage__links--yellow" href="https://google.com"> Github </a>
    </div>

</div>

<div class="homepage__content">
        
    <h1> Posts </h1>
    <div class="homepage__post-container">
    {{ range where .Site.RegularPages "Type" "post" }}
    <a href={{.Permalink}}>
        <div class="homepage__post">
        <span class="homepage__post--date"> {{ .Date.Format "Monday, Jan 2" }} </span>
        <h2 class="homepage__post--title"> {{ .Title }} </h2>
        </div>
    </a>
    {{ end }}
    </div>
    
</div>
